{% extends 'base.html' %}
{% block content %}
<h1 class="animate__animated animate__fadeInDown text-3xl font-bold mb-4">About</h1>
<div class="animate__animated animate__fadeInUp animate__delay-1s">
	<p class="text-sm text-gray-700 mb-4">I am a high school technologist passionate about the intersection of machine learning, software development, and neuroscience, driven by a curiosity to explore how advanced computational methods can deepen our understanding of the brain and enhance human potential. I focus on developing AI-driven solutions that are both powerful and ethically grounded, applying machine learning to multimodal data, neural analysis, and intelligent systems that have real-world impact. My goal is to create tools and platforms that bridge technology and neuroscience, amplifying human learning, decision-making, and creativity, while pushing the frontier of brain-inspired computing and AI-assisted cognitive analysis.</p>
</div>
{% endblock %}
